/* Reset default styles */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* Dark theme styles */
.footer-dark {
  background-color: #343a40;
  color: #fff;
  width: 100%; /* Make the footer width 100% */
}

.footer-dark h5 {
  color: #fff;
}

.footer-dark .nav-link {
  color: rgba(255,255,255,.5);
}

.footer-dark .nav-link:hover {
  color: rgba(255,255,255,.75);
}

.footer-dark .btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.footer-dark .btn-primary:hover {
  background-color: #0069d9;
  border-color: #0062cc;
}
